<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Home</title>
</head>
<body>

    <div class="center">
        <form action="/home" method="post">
            <input type="text" name="CompID" placeholder="Complaint ID">
            <br>
            <input type="submit" value="Get Status">
            <br>
            <input type="button" value="Register Complaint" onclick="location.href='/complaint'">
        </form>
    </div>


</body>
</html>