<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Status</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/status.css') }}">
</head>
<body>
    
    <div class="center">

        <div>
            <span class="label">Complaint ID : </span><span class="content">{{info[0][0]}}</span><br>
            <span class="label">Complaint name : </span><span class="content">{{info[0][1]}}</span><br>
            <span class="label">Complaint Details : </span><span class="content">{{info[0][2]}}</span><br>
            <span class="label">Complaint Status : </span><span class="content">{{info[0][6]}}</span><br>
        </div>
        <br>
        
        {% if(flag==1) %}
            <form action="/feedback" method="post">
                <input type="text" name="feedback" placeholder="Feedback (optional)">
                <br>
                <input type="submit" value="Submit feedback">
            </form>
        {% endif %}
        <input type="button" value="Click to go home" onclick="location.href='/home'">

    </div>    
    

</body>
</html>